.maped_card{
    margin-top: 100px;
    .cardPlants_card{
        display: flex;
        gap: 50px;
            .cardPlants_card__img{
                width: 450px;
                border-radius: 20px;
                margin-bottom: 20px;
                background-color: rgb(232, 230, 230);
                transition: 0.2s;
            }
           
            .ggg_card{
                margin-top: 50px;
               

                    .cardPlants_card__h1{
                        color: rgb(67, 67, 67);
                        font-weight: 700;
                    }
                    .cardPlants_card__p{
                        margin-top: 30px;
                        font-size: 20px;
                        color: rgb(105, 104, 104);
                        font-weight: 600;
                    }
                    .prices_card{
                        margin-top: 40px;
                        display: flex;
                        gap: 50px;

                            .prices_card__1{
                                color: rgb(80, 79, 79);
                                font-weight: 900;
                                font-size: 25px;
                            }
                            .prices_card__2{
                                padding-top: 5px;
                                color: #a8c2ff;
                                font-weight: 900;
                                font-size: 20px;
                                text-decoration: line-through;
                            }
                           

                    }
                    .price_card__btn{
                        margin-top: 15px;
                        border: none;
                        background-color: #a8c2ff;
                        width: 300px;
                        color: white;
                        font-weight: 600;
                        font-size: 20px;
                        border-radius: 15px;
                        height: 50px;
                        transition: 0.3s;
                    }
                    .price_card__btn1{
                        margin-top: 15px;
                        border: none;
                        background-color: rgb(255, 255, 255);
                        width: 300px;
                        border: 2px solid #a8c2ff;
                        color: #a8c2ff;
                        font-weight: 700;
                        height: 50px;
                        font-size: 20px;
                        border-radius: 15px;
                        transition: 0.3s;
                    }
            }
    }
}
.maped_card{
    .cardPlants_card{
        .ggg_card{

            .card_zakaz{
                display: flex;
            }
        }
    }
}
@media only screen and (max-width: 1100px) {
    .maped_card{
        margin-top: 100px;
        .cardPlants_card{
            display: flex;
            gap: 50px;
                .cardPlants_card__img{
                    width: 350px;
                    border-radius: 20px;
                    margin-bottom: 20px;
                    background-color: rgb(232, 230, 230);
                }
                .ggg_card{
                    margin-top: 50px;
                        .cardPlants_card__h1{
                            color: rgb(67, 67, 67);
                            font-weight: 700;
                            font-size: 30px;
                        }
                        .cardPlants_card__p{
                            margin-top: 30px;
                            font-size: 14px;
                            color: rgb(105, 104, 104);
                            font-weight: 600;
                        }
                        .prices_card{
                            margin-top: 40px;
                            display: flex;
                            gap: 50px;
    
                                .prices_card__1{
                                    color: rgb(80, 79, 79);
                                    font-weight: 900;
                                    font-size: 23px;
                                }
                                .prices_card__2{
                                    padding-top: 5px;
                                    color: #a8c2ff;
                                    font-weight: 900;
                                    font-size: 18px;
                                    text-decoration: line-through;
                                }
                               
                               
    
                        }
                        .price_card__btn{
                            margin-top: 40px;
                            border: none;
                            background-color: #a8c2ff;
                            width: 300px;
                            color: white;
                            font-weight: 600;
                            font-size: 20px;
                            border-radius: 15px;
                            height: 45px;
                            transition: 0.3s;
                        }
                        .price_card__btn1{
                            margin-top: 40px;
                            border: none;
                            background-color: rgb(255, 255, 255);
                            width: 300px;
                            border: 2px solid #a8c2ff;
                            color: #a8c2ff;
                            font-weight: 700;
                            height: 45px;
                            font-size: 20px;
                            border-radius: 15px;
                            transition: 0.3s;
                        }
                }
        }
    }
}
@media only screen and (max-width: 780px) {
    .maped_card{
        justify-content: center;
        margin-top: 100px;
        text-align: center;
        .cardPlants_card{
            justify-content: center;
            place-items: center;
            display: block;
            gap: 50px;
                .cardPlants_card__img{
                    width: 50%;
                    border-radius: 20px;
                    margin-bottom: 20px;
                    background-color: rgb(232, 230, 230);
                }
                .ggg_card{
                    margin-top: 20px;
                        .cardPlants_card__h1{
                            color: rgb(67, 67, 67);
                            font-weight: 700;
                            font-size: 27px;
                        }
                        .cardPlants_card__p{
                            margin-top: 10px;
                            font-size: 11px;
                            color: rgb(105, 104, 104);
                            font-weight: 600;
                        }
                        .prices_card{
                            margin-top: 20px;
                            display: flex;
                            gap: 50px;
    
                                .prices_card__1{
                                    color: rgb(80, 79, 79);
                                    font-weight: 900;
                                    font-size: 20px;
                                }
                                .prices_card__2{
                                    padding-top: 5px;
                                    color: rgb(52, 15, 201);
                                    font-weight: 900;
                                    font-size: 15px;
                                    text-decoration: line-through;
                                }
                               
    
                        }
                        .price_card__btn{
                            margin-top: 10px;
                            border: none;
                            background-color: #a8c2ff;
                            width: 250px;
                            color: white;
                            font-weight: 600;
                            font-size: 15px;
                            border-radius: 10px;
                            height: 30px;
                            transition: 0.3s;
                        }
                        .price_card__btn1{
                            margin-top: 10px;
                            border: none;
                            background-color: rgb(255, 255, 255);
                            width: 250px;
                            border: 2px solid #a8c2ff;
                            color: #a8c2ff;
                            font-weight: 700;
                            height: 30px;
                            font-size: 15px;
                            border-radius: 10px;
                            transition: 0.3s;
                        }
                }
        }
    }
}