.top_navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(93, 188, 194, 1.00);
    padding: 4px;
}
.top{
    background-color: rgba(93, 188, 194, 1.00);
}
h4{
    width: 100%;
    font-size: 10px;
    font-weight: 800;

}
h5{
    font-size: 10px;
    font-weight: 800;
}
.container{
    width: 80%;
}
@media only screen and (max-width:930px) {
    .top_navbar{
        display: flex;
        justify-content: space-between;
        background-color: rgba(93, 188, 194, 1.00);
        padding: 4px;
    }
    .top_navbar h4{
        font-size: 12px;
    }
}
@media only screen and (max-width:530px) {
    h4{
        font-size: 10px;
    }
    h5{
        font-size: 10px;
    }
}
