*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(243, 238, 238, 0.479);
}

.left_div_2 h4{
    width: 80px;
}

.text_contact{
    width: 150px;
}
.big_div{
    display: flex;
    justify-content: space-evenly;
    
    height: auto;
    background-color: white;
}

.left_div_1{
    padding: 30px 30px;
    font-size: 20px;
 }

.big_div h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* /1 */

.left_div_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    margin-top: 2em;
}

.p_:hover{
    text-decoration:underline;
}

.p__:hover{
    text-decoration:underline;
}

.div__p{
    font-size: 90%;
    opacity: 80%;
    column-gap: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.div_p{
    
    height: 3em;
    font-size: 90%;
    opacity: 80%;
    column-gap: 5px;
    text-align: start;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

 .p___{
padding-left: 25px;
font-size: 10px;
}




.left_div_2 h4{
    font-size: 110%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* /2 */

.left_div_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: 1em;
}

.p___:hover{
    text-decoration: underline;
}

.left_div_3 h4{
    font-size: 110%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hrr{
    margin-top: 1em;
    opacity: 40%;
}

/* /3 */

.left_div_4{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin-top: 1em;
}

.left_div_4 h4{
    font-size: 110%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* /4 */

.left_div_5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: 1em;
}

.left_div_5 h4{
    font-size: 110%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.left_div_6{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-top: 1em;
}

.left_div_6 h4{
    font-size: 110%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* /6 */

.btn_p{
    display: flex;
    justify-content: start;
    margin-top: 3em;
    font-size: 100%;
    opacity: 80%;
    column-gap: 5px;
    text-align: start;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
}

.btn_p a{
    color: green;
    text-decoration: none;
}

/* / LEFT-DIV */



.div_kart iframe {
    width: 0 auto;
    height: 500px;
    width:600px;
    height:450px;
    border: 0;
    
  
  
}


.p___{
    width: 140px;
}



@media only screen and (max-width: 900px) {
    .big_div{
  flex-direction: column;
  font-size: 13px;
  text-align: center;
  display: flex;
justify-content: space-evenly !important;
    }
    h4{
        width: 80px;
        
    }
}


@media only screen and (max-width: 610px) {
    .div_kart iframe {
        width: 300px;
        height: 500px;
    }
    .a_teg_link_evos{
        font-size: 8px;
    }
}