.navbar{
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    align-items: center;
    background-color: transparent;
    background-color: #00C0F0;
    margin-bottom: 15px;
    border-top: 1px solid black;
    /* position: fixed;
    width: 100%;
    z-index: 99; */
   
}
.sign__btns{
    display: flex;
    gap: 15px;
}
.sign__up__btn{
    width: 90px;
    height: 30px;
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    transition: 0.5s;
}
.sign__up__btn:hover{
    background-color: white;
    color: rgb(53, 53, 53);
    font-weight: 700;
    box-shadow: 0 0 10px 1px rgb(66, 217, 255);
}
.right{
    display: flex;
    gap: 30px;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar ul li a {
    text-decoration: none;
}

.navbar .left img{
width: 150px;
}

.icon{
    width: 20px;}


@media only screen and (max-width:600px){
    .navbar ul {
        display: none;
    }

    .right h4{
        font-size: 18px;
    }
}

