.navbar {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  align-items: center;
  background-color: transparent;
  background-color: rgba(93, 188, 194, 1);
  margin-bottom: 15px;
  border-top: 1px solid black;
  /* position: fixed;
    width: 100%;
    z-index: 99; */
}
.sign{
  margin-top: -5px;
}
.dropdown {
  margin-left: 20px;
  margin-top: -10px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background: #00c0f0;
  font-weight: 700;
  border: 2px solid white;
  text-align: center;
  align-items: center;
  padding-top: 6px;
  transition: 0.5s;
}
.dropdown:hover {
  margin-left: 20px;
  margin-top: -10px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background: #00c0f0;
  font-weight: 700;
  border: 2px solid red;
  text-align: center;
  align-items: center;
  padding-top: 6px;
}
.sign {
  display: flex;
  gap: 15px;
}
.bb {
  margin-top: -8px;
  margin-left: -8px;
  position: absolute;
  font-weight: 800;
  width: 15px;
  text-align: center;
  align-items: center;
  height: 15px;
  border-radius: 50%;
  border: 2px solid red;
  font-size: 9px;

  background: white;
  color: red;
}
.Ul__li a {
  color: white;
  font-weight: 700;
  transition: 0.2s;
}
.Ul__li a:hover {
  color: black;
}
.sign__btns {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
.sign__up__btn {
  margin-top: -10px;
  width: 90px;
  height: 30px;
  padding-left: 18px;
  padding-top: 5px;
  color: white;
  font-weight: 700;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  transition: 0.5s;
}
.sign__up__btn:hover {
  background-color: white;
  color: rgb(53, 53, 53);
  font-weight: 700;
  box-shadow: 0 0 10px 1px rgb(66, 217, 255);
}
.sign__up__btn1 {
  margin-top: -10px;
  width: 100px;
  height: 30px;
  padding-left: 5px;
  padding-top: 5px;
  color: white;
  font-weight: 700;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  transition: 0.5s;
}
.sign__up__btn1:hover {
  background-color: white;
  color: rgb(53, 53, 53);
  font-weight: 700;
  box-shadow: 0 0 10px 1px rgb(66, 217, 255);
}
.right {
  display: flex;
  gap: 30px;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

.navbar ul li a {
  text-decoration: none;
}

.navbar .left img {
  width: 150px;
}

.icon {
  width: 20px;
  padding-top: 4px;
}

@media only screen and (max-width: 860px) {
  .sign__btns {
    margin-top: 10px;
    display: flex;
    gap: 8px;
  }
  .sign__up__btn {
    text-align: left;
    color: white;
    font-size: 11px;
    font-weight: 700;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    transition: 0.5s;
  }

  .icon {
    width: 17px;
    padding-top: 5px;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
}
@media only screen and (max-width: 690px) {
  .Ul__li a {
    font-size: 12px;
  }
  .logo {
    width: 100px;
  }
}
@media only screen and (max-width: 600px) {
  .navbar ul {
    display: none;
  }
  .sign__btns__kor {
    display: none;
  }
  .icon {
    display: none;
  }

  .right h4 {
    font-size: 18px;
  }
  .sign__up__btn1 {
    font-size: 12px;
  }
  .sign__up__btn {
    font-size: 13px;
  }
}
