.app__register__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-size: cover;
    background-position: center;
  }
  .app__register__input{
    padding: 8px;
    width: 600px;
    text-align: center;
    height: 40px;
    margin-top: 15px;
    border-radius: 15px;
    border: 2px solid  ;
  }
  .app__register__form{
      background-color: white;
      padding: 0px 60px;
      border-radius: 10px;
  }
  
  .app__register__h1{
      color: #00C0F0;
      text-align: center;
  }
  
  .app__register__btn{
      width: 630px;
      height: 50px;
      padding: 10px;
      border: none;
      background-color: #00C0F0;
      color: white;
      border-radius: 15px;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 30px;
  }
  @media only screen and (max-width: 750px) {
    .app__register__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh;
        background-size: cover;
        background-position: center;
      }
      .app__register__input{
        width: 400px;
        height: 40px;
        margin-top: 15px;
        border-radius: 5px;
        border: 2px solid #00C0F0 ;
      }
      .app__register__form{
          background-color: white;
          padding: 0px 60px;
          border-radius: 10px;
      }
      
      .app__register__h1{
          color: #00C0F0;
          text-align: center;
          font-size: 25px;
          font-weight: 900;
      }
      
      .app__register__btn{
          width: 430px;
          height: 50px;
          padding: 10px;
          border: none;
          background-color: #00C0F0;
          color: white;
          border-radius: 5px;
          font-weight: bold;
          font-size: 18px;
          cursor: pointer;
          margin-top: 15px;
          margin-bottom: 30px;
      }
  }
  @media only screen and (max-width: 480px) {
    .app__register__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh;
        background-size: cover;
        background-position: center;
      }
      .app__register__input{
        width: 100%;
        height: 40px;
        margin-top: 15px;
        border-radius: 5px;
        border: 2px solid #00C0F0 ;
      }
      .app__register__form{
          background-color: white;
          padding: 0px 60px;
          border-radius: 10px;
      }
      
      .app__register__h1{
          color: #00C0F0;
          text-align: center;
          font-size: 25px;
          font-weight: 900;
      }
      
      .app__register__btn{
          width: 100%;
          height: 50px;
          padding: 10px;
          border: none;
          background-color: #00C0F0;
          color: white;
          border-radius: 5px;
          font-weight: bold;
          font-size: 18px;
          cursor: pointer;
          margin-top: 15px;
          margin-bottom: 30px;
      }
  }