.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(93, 188, 194, 1.00);
    bottom: 0px;
    color: white;
    margin-top: 150px;
    padding: 15px;
}

.footer_item {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 25px;
}

.footer_items {
    text-align: center;
}

.footer_items {
    width: 190px;
}

.footer_bottom {
    background-color: rgba(93, 188, 194, 1.00);
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    align-items: center;
    color: white;
}

@media only screen and (max-width:800px) {
    .container {
        width: 100%;
        margin: auto;
    }

    .footer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width:632px) {
    .container {
        width: 100%;
        margin: auto;
    }

    .footer {
        grid-template-columns: repeat(2, 1fr);
    }

    h2 {
        font-size: 15px;
    }

    .footer_bottom h3 {
        font-size: 15px;
    }
}

@media only screen and (max-width:400px) {
    .container {
        width: 100%;
        margin: auto;
    }

    .footer {
        grid-template-columns: repeat(1, 1fr);

    }

    h2 {
        font-size: 15px;
    }

    .footer_items {
        width: 60%;
        margin: auto;
    }

    

    .footer_bottom h3 {
        font-size: 10px;
    }
    
}